/* About Section Styling */
body {
    background: #081b29;
    color: #ededed;
    font-family: 'Poppins', sans-serif;
}

.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    position: relative;
}

.about-content {
    max-width: 900px;
}

.about-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #00abf0;
}

.about-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.about-content p {
    position: relative;
    font-size: 18px;
    line-height: 1.8;
    color: #ededed;
    text-align: justify;
}

.about-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}


/* Reuse Animations */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}
